@font-face {
    font-family: "Lexend";
    src: url("/font");
}

 * {
       margin: 0; 
       padding: 0;
     }

    body{
      position: fixed;
    }

     .banner {
      display: grid;
      grid-template-columns: repeat(3, minmax(0,1fr));
     }

    .banneritem {
      text-align: center;
      padding: 0px; 
      font-size: 3.7rem;
      font-family: Lexend;
      font-weight: 400;
      color: #46bbe5;
      height: 58px;
      line-height: 1;
    }

    .main-content { 
      padding-top: 200px;
    }

    .alternate-text {
      color:#fca24f;
      display: inline;
    }
  
    .line {
      background-color:  #798c93;
      width:1920px;
      height: 3px;
    }

    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
      transform: scale(0.8);
    }

    .button{
      color:#798c93;
      background-color: rgba(0,0,0,0);
      border: none;
      float: right;
      margin: 30px;
      margin-top: 15px;
      margin-right: 0px;
      padding-right: 0px;
      padding-top: 1px;
      transform: scale(2.3);
      cursor: pointer;
    }
    button:hover {
      color: #637579;
    }

    #settings{
      padding-right: 20px;
    }

    #stats{
      margin-left: 30px;
      margin-right: 10px;
    }

    #menu{
      float: left;
    }

    .overlay{
      width:100%;
      height:100%;
      background: rgba(0,0,0,0.5);
      position:fixed;
      top:-22px;
      left:-22px;
      margin-top:22px;
      margin-left:22px;
      }

    .popupContent{
        width:24rem;
        height:35rem;
        margin:0 auto;     
        margin-top: 5%;
        background-color: rgb(255, 255, 255);
        border-radius: 3%;
      }

      .Title{
        font-family: Lexend;
        font-size: 25pt;
        font-weight: 400;
        float:right;
        margin-right: 7.5rem;
      }

      .SettingOptions{
        font-family: Lexend;
        font-size: 16pt;
        font-weight: 300;
        padding: 10px;
        padding-bottom: 0px;
        text-align: left;
      }
      .radio {
        cursor: pointer;
        font-size: 12pt;
        margin-top: 10px;
        margin-left: 30px;
        line-height: 24px;
        display: flex;
        vertical-align: top;
      }
      
      .checkbox {
        cursor: pointer;
        font-size: 12pt;
        margin-top: 10px;
        margin-left: 30px;
        line-height: 24px;
        display: flex;
        vertical-align: top;
      }

      #checkboxText{
        font-size: 12pt;
        margin-left: 5px;
        line-height: 24px;
        display: flex;
        vertical-align: top;
      }

      .Cancel{
        color:#798c93;
        background-color:  #ffffff00;
        border: none;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        transform: scale(1.5);
        cursor: pointer;
      }

      .gameBackground{
        background-color: #74ceef;
        border: solid;
        border-width: 0.3rem;
        border-radius: 30pt;
        border-color: #637579;
        width: 47rem;
        height: 32rem;
        margin-top: 1rem;
        margin-left: 36rem;
      }
      
      .gameText{
        font-family: Lexend;
        font-size: 26pt;
        text-align: center;
        margin-top: -10.5rem;
      }

      .initialRegion{
        color: #9cc5A1;
      }

      .finalRegion{
        color: #f07d7d;
      }

      .regionInput{
        padding: 10px;
        height: 30px;
        width: 46rem;
        margin-left: 36rem; 
        margin-top: 20px;      
        border: solid, #fca24f;
        background-color: white;
        border-radius: 15px;
        font-size: 20px;
        font-family: Lexend;
      }
      .regionInput:focus {
        outline-style: none;
        box-shadow: none;
        border-color: #fca24f;
        color: #637579;
      }

      .regionSubmit{
        
      }