@font-face {
    font-family: "Lexend";
    src: url("/font");
}

 * {
       margin: 0; 
       padding: 0;
     }

    body{
      position: fixed;
    }

     .banner {
      display: grid;
      grid-template-columns: repeat(3, minmax(0,1fr));
     }

    .banneritem {
      text-align: center;
      padding: 0px; 
      font-size: 3.7rem;
      font-family: Lexend;
      font-weight: 400;
      color: #46bbe5;
      height: 58px;
      line-height: 1;
    }

    .main-content { 
      padding-top: 200px;
    }

    .alternate-text {
      color:#fca24f;
      display: inline;
    }
  
    .line {
      background-color:  #798c93;
      width:1920px;
      height: 3px;
    }

    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48;
      transform: scale(0.8);
    }

    .button{
      color:#798c93;
      background-color: rgba(0,0,0,0);
      border: none;
      float: right;
      margin: 30px;
      margin-top: 15px;
      margin-right: 0px;
      padding-right: 0px;
      padding-top: 1px;
      transform: scale(2.3);
      cursor: pointer;
    }
    button:hover {
      color: #637579;
    }

    #settings{
      padding-right: 20px;
    }

    #stats{
      margin-left: 30px;
      margin-right: 10px;
    }

    #menu{
      float: left;
    }

    .overlay{
      width:100%;
      height:100%;
      background: rgba(0,0,0,0.5);
      position:fixed;
      top:-22px;
      left:-22px;
      margin-top:22px;
      margin-left:22px;
      }

    .popupContent{
        width:24rem;
        height:35rem;
        margin:0 auto;     
        margin-top: 5%;
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
      }

      .Title{
        font-family: Lexend;
        font-size: 25pt;
        font-weight: 400;
        float:right;
        margin-right: 7.5rem;
      }

      .SettingOptions{
        font-family: Lexend;
        font-size: 16pt;
        font-weight: 300;
        padding: 10px;
        padding-bottom: 0px;
        text-align: left;
      }
      .radio {
        cursor: pointer;
        font-size: 12pt;
        margin-top: 10px;
        margin-left: 30px;
        line-height: 24px;
        display: flex;
        vertical-align: top;
      }
      
      .checkbox {
        cursor: pointer;
        font-size: 12pt;
        margin-top: 10px;
        margin-left: 30px;
        line-height: 24px;
        display: flex;
        vertical-align: top;
      }

      #checkboxText{
        font-size: 12pt;
        margin-left: 5px;
        line-height: 24px;
        display: flex;
        vertical-align: top;
      }

      .Cancel{
        color:#798c93;
        background-color:  #ffffff00;
        border: none;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        transform: scale(1.5);
        cursor: pointer;
      }

      .gameBackground {
        background-color: #74ceef;
        border: solid;
        border-width: 0.3rem;
        border-radius: 30pt;
        border-color: #637579;
        width: 47rem;
        height: 32rem;
        margin-top: 1rem;
        margin-left: 36rem;
        position: relative;
    }

      .game-background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 30pt;
    }
      .gameText{
        font-family: Lexend;
        font-size: 26pt;
        text-align: center;
        margin-top: -10.5rem;
      }

      .initialRegion{
        color: #9cc5A1;
      }

      .finalRegion{
        color: #f07d7d;
      }

      .regionInput{
        padding: 10px;
        height: 30px;
        width: 37.8rem;
        margin-left: 36rem; 
        margin-top: 20px;      
        border: solid, #fca24f;
        background-color: white;
        border-radius: 15px;
        font-size: 20px;
        font-family: Lexend;
        border-right-color: #fca24f;
        border-right-width: 4px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        color: #46bbe5;
      }

      .regionInput::placeholder{
        color: #798c93;
      }

      .regionInput:focus {
        outline-style: none;
        box-shadow: none;
        color: #46bbe5;
      }

      datalist{
        display: none;
      }

      #regionForm {
        position: relative; /* Ensure form is positioned correctly */
        z-index: 10; /* Bring form and elements above any potential overlapping elements */
    }

      .submitRegion{
        padding: 10px;
        height: 3.5rem;
        width: 8rem;
        margin-left: -0.5rem;
        border: solid, #fca24f;
        border-left-style: none;
        border-radius: 15px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: white;
        color: #46bbe5;
        font-size: 20px;
        font-family: Lexend;
        z-index: 11;
      }

      .submitRegion:hover{
        box-shadow: 3px;
        color: #43acd3;
        background-color: rgb(250, 250, 250);
      }

      .vertical {
        border-left: 3px solid #46bbe5;
        position: absolute;
        margin-left: 75.3rem;
        margin-top: -2.5rem;
        height: 25px;
        border-radius: 4px;
        z-index: 11;
      }

    .dropdown-top button {
        width: 50%;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        cursor: pointer;
        padding: 1rem;
    }
      
    .dropdown-items button {
      width: 100%;
      text-align: left;
      margin-top: 0rem;
      padding: 0.9rem;
      border: none ;
      border-bottom: 1px solid #798c93;
      border-radius: 5px 0px 0px 0px;
      background-color: #f9f9f9;
      cursor: pointer;
      color: #46bbe5;
      font-family: Lexend;
      font-size: 16px;  
    }

    .dropdown-items button:hover{
      background-color: rgba(0,0,0,0.03);
    }

    .dropdown-items {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      width: 39rem;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      margin-left: 36rem;
      overflow-y:scroll;
      max-height: 12.4rem;
      border-radius: 1rem;
    }

  ::-webkit-scrollbar{
    width: 10px;
    border-left: 1px solid #798c93;
    border-right: 1px solid #798c93;
    border-radius: 0rem 1rem 1rem 0rem;
  }

  ::-webkit-scrollbar-track{
    border-radius: 1rem;
  }

  ::-webkit-scrollbar-thumb{
    background: #798c93;
    border-radius: 0rem 1rem 1rem 0rem;
  }

  ::-webkit-scrollbar-thumb:hover{
    background: #637579;
  }

  .highlight {
    text-decoration: underline;
    color: #fca24f;
}
#selectedRegions {
  display: flex;
  flex-wrap: wrap;
  width: 47rem;
  margin-left: 36rem;
  margin-top: 10px;
}

#selectedRegions .region-tag {
  background-color: white;
  color: #637579;
  padding: 0.5rem 2rem;
  padding-left: 0rem;
  font-family: Lexend;
  font-size: 18px;
}

#AshburtonSVG {
  opacity: 10;
  margin-top: 21.18rem;
  margin-left: 9.6rem;
}
 
#AucklandSVG{
  opacity: 0;
  margin-top: 5.5rem;
  margin-left: 15.6rem;
}

#BullerSVG{
  opacity: 0;
  margin-top:  15.9rem;
  margin-left: 10.7rem;
}

#CartertonSVG{
  opacity: 0;
  margin-top: 16rem;
  margin-left: 17.5rem;
}

#CentralHawksBaySVG{
  opacity:  0;
  margin-top: 13.5rem;
  margin-left: 18.9rem;
}

#CentralOtagoSVG{
  opacity:  0;
  margin-top: 24.4rem;
  margin-left: 7.313rem;
}

#ChristchurchSVG{
  opacity: 0;
  margin-top: 21.7rem;
  margin-left: 12.8rem;
}

#CluthaSVG{
  opacity: 0;
  margin-top: 26.46rem;
  margin-left: 7.69rem;
}
#CoromandelSVG{
  opacity: 0;
  margin-top: 6.4rem;
  margin-left: 17.65rem;
}

#DunedinSVG{
  opacity: 0;
  margin-top: 25.95rem;
  margin-left: 8.77rem;
}

#FarNorthSVG{
  opacity: 0;
  margin-top: 1.75rem;
  margin-left: 12.9rem;
}

#GisborneSVG{
  opacity: 0;
  margin-top: 8.89rem;
  margin-left: 20.9rem;
}

#GreySVG{
  opacity: 0;
  margin-top: 19.05rem;
  margin-left: 10.34rem;
}

#WestlandSVG{
  opacity: 0;
  margin-top: 20.05rem;
  margin-left: 5.9rem;
}